{
  "env": {
    "browser": true,
    "es2021": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "airbnb",
    "prettier",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "jsx-a11y", "prettier", "jest"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}],
    "react/state-in-constructor": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off"
  }
}
